@import "tailwindcss";
@plugin "@tailwindcss/forms";

#root {
    @apply  h-auto md:h-screen w-screen font-sans leading-normal font-normal text-base;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
