
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
    --*: initial;
    --color-primary: oklch(44.15% 0.0735 147.66);
    --color-primary-bold: oklch(57.34% 0.1369 149.89);
    --color-primary-light: oklch(0.75 0.1369 149.89);
    --font-basic: "Noto Sans", sans-serif;
    --drop-shadow-basic: 0 3px 3px rgba(--color-primary, 0.25); 
  }