
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2d5a27;
  --color-primary-bold: #1a7c3a;
  --color-primary-light: #7dd3a0;
  --font-basic: "Noto Sans", sans-serif;
  --drop-shadow-basic: 0 3px 3px rgba(0, 128, 128, 0.25); 
}