WITH duplicates AS (SELECT uuid, building_id, created_by_id, created_at, ROW_NUMBER() OVER (PARTITION BY building_id, created_by_id ORDER BY created_at DESC) as rn FROM "roofThermalInsulation_roofthermalinsulation") DELETE FROM "roofThermalInsulation_roofthermalinsulation" WHERE uuid IN (SELECT uuid FROM duplicates WHERE rn > 1);
